SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
PRIVATE_KEY=your_wallet_private_key_here
NODE_EXTRA_CA_CERTS=/etc/ssl/cert.pem

ALCHEMY_KEY=Nx1PwPwDYfIy2eicovRos
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/Nx1PwPwDYfIy2eicovRos
